{% extends 'base.html' %}
{% block title %}Emergency Services System | Admin | Add Branch{% endblock %}
{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Branch</h4>

          <form class="forms-sample" id="form_create">

            <div class="form-group">
              <label for="department">Department Name</label>
              <select class="form-control" id="department">
                <option value="none">Select Department</option>
                {% if departments %}
                {% for i in departments %}
                <option value="{{ i[0] }}">{{ i[1] }}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>

            <div class="form-group">
              <label for="location">Branch Location</label>
              <input type="text" class="form-control" id="location" placeholder="Branch Location">
            </div>

            <div class="form-group">
              <label for="emergency-number">Branch Emergency Number</label>
              <input type="text" class="form-control" id="emergency-number" placeholder="Branch Emergency Number">
            </div>

            <div class="form-group">
              <label for="address">Branch Address</label>
              <textarea class="form-control" id="address" rows="4" placeholder="Branch Address"></textarea>
            </div>

            <div class="form-group">
              <label for="mapUrl">Branch Location Map URL</label>
              <input type="text" class="form-control" id="mapUrl" placeholder="Branch Location Map URL">
            </div>

            <button type="submit" id="btn-add" class="btn btn-primary me-2">Add</button>
            <button type="clear" class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  $(function () {
    $('#btn-add').click(function () {

      var department = $('#department').val();
      var location = $('#location').val();
      var emergency_number = $('#emergency-number').val();
      var address = $('#address').val();
      var mapUrl = $('#mapUrl').val();

      if (department == "" || location == "" || emergency_number == "" || address == "" || mapUrl == "") {
        swal.fire("Add Branch", "Fields are empty!", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('department', department);
        form_data.append('location', location);
        form_data.append('emergency_number', emergency_number);
        form_data.append('address', address);
        form_data.append('map_url', mapUrl);

        $.ajax({
          url: "/branches/add_branch_details",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Add Branch", data.success, "success");
              document.getElementById("form_create").reset();
            }
            else if (data.error) {
              Swal.fire("Add Branch", data.error, "warning");
            }
            else {
              Swal.fire("Add Branch", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });

</script>

{% endblock %}