{% extends 'base.html' %}
{% block title %}Emergency Services System | Admin | View Branch Details{% endblock %}
{% block content %}

{% if details %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Branch Details</h4>

          <form class="forms-sample" id="form_create">

            <div class="form-group">
              <label for="id">Branch Id</label>
              <input type="text" class="form-control" id="id" placeholder="Branch Id" value="{{ details[0][1] }}"
                disabled>
            </div>

            <div class="form-group">
              <label for="department">Department Name</label>
              <select class="form-control" id="department">
                <option value="none">Select Department</option>
                {% if departments %}
                {% for i in departments %}
                <option value="{{ i[0] }}" {% if details[0][2]=="2147483647" %} selected {% endif %}>
                  {{ i[1] }}
                </option>
                {% endfor %}
                {% endif %}
              </select>
            </div>

            <div class="form-group">
              <label for="location">Branch Location</label>
              <input type="text" class="form-control" id="location" placeholder="Branch Location"
                value="{{ details[0][4] }}">
            </div>

            <div class="form-group">
              <label for="emergency-number">Branch Emergency Number</label>
              <input type="text" class="form-control" id="emergency-number" placeholder="Branch Emergency Number"
                value="{{ details[0][5] }}">
            </div>

            <div class="form-group">
              <label for="address">Branch Address</label>
              <textarea class="form-control" id="address" rows="4"
                placeholder="Branch Address">{{ details[0][6] }}</textarea>
            </div>

            <button type="submit" id="btn-update" class="btn btn-primary me-2">Update</button>
            <button type="submit" id="btn-remove" class="btn btn-danger me-2">Remove</button>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Branch New User</h4>

          <form class="forms-sample" id="form_create">

            <div class="form-group">
              <label for="buname">Branch User Name</label>
              <input type="text" class="form-control" id="buname" placeholder="Branch User Name">
            </div>

            <div class="form-group">
              <label for="buemail">Branch User Email</label>
              <input type="text" class="form-control" id="buemail" placeholder="Branch User Email">
            </div>

            <div class="form-group">
              <label for="bupsw">Branch User Password</label>
              <input type="text" class="form-control" id="bupsw" placeholder="Branch User Password">
            </div>

            <button type="submit" id="btn-add" class="btn btn-primary me-2">Add</button>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="content-wrapper">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Branch Users</h4>


        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {% if branch_users %}
              {% for item in branch_users %}
              <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>
                  <a href="/branch_user/view-branch-user-details?id={{ item[0] }}" class="btn btn-secondary">VIEW</a>
                </td>
              </tr>
              {% endfor %}
              {% else %}

              <tr>
                <td colspan="7">
                  <center>No Branch Users</center>
                </td>
              </tr>

              {% endif %}

            </tbody>
          </table>

        </div>

      </div>
    </div>

  </div>
</div>

<script>

  // For update branch details
  $(function () {
    $('#btn-update').click(function () {

      var id = $('#id').val();
      var department = $('#department').val();
      var location = $('#location').val();
      var emergency_number = $('#emergency-number').val();
      var address = $('#address').val();

      if (id == "" || department == "" || location == "" || emergency_number == "" || address == "") {
        swal.fire("Add Branch", "Fields are empty!", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('id', id);
        form_data.append('department', department);
        form_data.append('location', location);
        form_data.append('emergency_number', emergency_number);
        form_data.append('address', address);

        $.ajax({
          url: "/branches/update_branch_details",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Update Branch", data.success, "success");
            }
            else if (data.error) {
              Swal.fire("Update Branch", data.error, "warning");
            }
            else {
              Swal.fire("Update Branch", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });


  $(function () {
    $('#btn-remove').click(function () {

      var id = $('#id').val();

      if (id == "") {
        swal.fire("Remove Branch", "Fields are empty!", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('id', id);

        $.ajax({
          url: "/branches/remove_branch_details",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Remove Branch", data.success, "success");
              window.location.href = "/branches/view-branches"
            }
            else if (data.error) {
              Swal.fire("Remove Branch", data.error, "warning");
            }
            else {
              Swal.fire("Remove Branch", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });


  // Add branch user
  $(function () {
    $('#btn-add').click(function () {

      var bid = $('#id').val();
      var buname = $('#buname').val();
      var buemail = $('#buemail').val();
      var bupsw = $('#bupsw').val();

      if (bid == "" || buname == "" || buemail == "" || bupsw == "") {
        swal.fire("Add Branch User", "Fields are empty!", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('bid', bid);
        form_data.append('buname', buname);
        form_data.append('buemail', buemail);
        form_data.append('bupsw', bupsw);

        $.ajax({
          url: "/branch_user/add_branch_user",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Add Branch User", data.success, "success");
            }
            else if (data.error) {
              Swal.fire("Add Branch User", data.error, "warning");
            }
            else {
              Swal.fire("Add Branch User", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });

</script>

{% endif %}

{% endblock %}