<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="static/vendors/feather/feather.css">
	<link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="static/vendors/typicons/typicons.css">
	<link rel="stylesheet" href="static/vendors/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">

	<link rel="stylesheet" href="static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
	<link rel="stylesheet" href="static/js/select.dataTables.min.css">

	<link rel="stylesheet" href="static/css/vertical-layout-light/style.css">
	<!-- <link rel="shortcut icon" href="static/images/favicon.png" /> -->

	<script src="static/jquery/jquery-3.2.1.min.js"></script>
	<script src="static/js/sweetalert2@11.js"></script>

</head>

<body>
	<div class="container-scroller">

		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
				<div class="me-3">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button"
						data-bs-toggle="minimize">
						<span class="icon-menu"></span>
					</button>
				</div>
				<div>
					<a class="navbar-brand brand-logo" href="/">
						<img src="static/images/logo.png" alt="logo" />
					</a>
					<a class="navbar-brand brand-logo-mini" href="/">
						<img src="static/images/logo.png" alt="logo" />
					</a>
				</div>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-top">

				<ul class="navbar-nav ms-auto">

					<li class="nav-item dropdown d-none d-lg-block user-dropdown">
						<a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
							<img class="img-xs rounded-circle" src="static/images/user.png" alt="Profile image">
						</a>
						<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
							<div class="dropdown-header text-center">

								{% if session['name'] %}
								<p class="mb-1 mt-3 font-weight-semibold">{{ session['name'] }}</p>
								{% endif %}

								{% if session['email'] %}
								<p class="fw-light text-muted mb-0">{{ session['email'] }}</p>
								{% endif %}
							</div>
							<a class="dropdown-item" href="/profile"><i
									class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My
								Profile</a>

							<a class="dropdown-item" href="/psw-change"><i
									class="dropdown-item-icon mdi mdi-key-outline text-primary me-2"></i> Change
								Password</a>

							<a class="dropdown-item" href="/sign-out"><i
									class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>

						</div>
					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
					data-bs-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>


		<div class="container-fluid page-body-wrapper">

			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="/">
							<i class="mdi mdi-grid-large menu-icon"></i>
							<span class="menu-title">Dashboard</span>
						</a>
					</li>

					<li class="nav-item nav-category">Departments</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#departments" aria-expanded="false"
							aria-controls="departments">
							<i class="menu-icon mdi mdi-floor-plan"></i>
							<span class="menu-title">Departments</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="departments">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="/departments/add-departments">
										Add Department
									</a></li>
								<li class="nav-item"> <a class="nav-link" href="/departments/view-departments">
										View Departments</a></li>
							</ul>
						</div>
					</li>

					<li class="nav-item nav-category">Branches</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#branches" aria-expanded="false"
							aria-controls="branches">
							<i class="menu-icon mdi mdi-source-branch"></i>
							<span class="menu-title">Branches</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="branches">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="/branches/add-branches">
										Add Branch
									</a></li>
								<li class="nav-item"> <a class="nav-link" href="/branches/view-branches">
										View Branches</a></li>
							</ul>
						</div>
					</li>

					<li class="nav-item nav-category">Admins</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#admin" aria-expanded="false"
							aria-controls="admin">
							<i class="menu-icon mdi mdi-account"></i>
							<span class="menu-title">Admins</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="admin">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="/add-admin">
										Add Admin
									</a></li>
								<li class="nav-item"> <a class="nav-link" href="/view-admin">
										View Admins</a></li>
							</ul>
						</div>
					</li>

					<li class="nav-item nav-category">Users</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#users" aria-expanded="false"
							aria-controls="users">
							<i class="menu-icon mdi mdi-account"></i>
							<span class="menu-title">Users</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="users">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="/users/view-users">
										View Users</a></li>
							</ul>
						</div>
					</li>

				</ul>
			</nav>

			<div class="main-panel">


				{% block content %}{% endblock %}

				<footer class="footer">
					<div class="d-sm-flex justify-content-center justify-content-sm-between">
						<span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Designed by
							Sithu</span>
						<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright ©
							<script>
								var CurrentYear = new Date().getFullYear()
								document.write(CurrentYear)
							</script>
							. All
							rights reserved.
						</span>
					</div>
				</footer>

			</div>

		</div>

	</div>


	<script src="static/vendors/js/vendor.bundle.base.js"></script>
	<script src="static/vendors/chart.js/Chart.min.js"></script>
	<script src="static/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="static/vendors/progressbar.js/progressbar.min.js"></script>

	<script src="static/js/off-canvas.js"></script>
	<script src="static/js/hoverable-collapse.js"></script>
	<script src="static/js/template.js"></script>
	<script src="static/js/settings.js"></script>
	<script src="static/js/todolist.js"></script>

	<script src="static/js/jquery.cookie.js" type="text/javascript"></script>
	<script src="static/js/Chart.roundedBarCharts.js"></script>
	<script src="static/js/file-upload.js"></script>

</body>

</html>