{% extends 'base.html' %}
{% block title %}Emergency Services System | Admin | Dashboard{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">

        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
            <div class="row">
              <div class="col-sm-12">
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div>
                    <p class="statistics-title">Users</p>
                    <h3 class="rate-percentage">{{ users_count }}</h3>
                  </div>
                  <div>
                    <p class="statistics-title">Department</p>
                    <h3 class="rate-percentage">{{ departments_count }}</h3>
                  </div>
                  <div>
                    <p class="statistics-title">Branches</p>
                    <h3 class="rate-percentage">{{ branches_count }}</h3>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Branches Users</p>
                    <h3 class="rate-percentage">{{ branch_users_count }}</h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Pending Inquires</p>
                    <h3 class="rate-percentage">{{ pending_inquires_count }}</h3>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Ongoing Inquires</p>
                    <h3 class="rate-percentage">{{ ongoing_inquires_count }}</h3>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Completed Inquires</p>
                    <h3 class="rate-percentage">{{ completed_inquires_count }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Inquires Line Chart</h4>
                          </div>
                          <div id="performance-line-legend"></div>
                        </div>
                        <div class="chartjs-wrapper mt-5">
                          <canvas id="performaneLine"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 d-flex flex-column">

                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Inquires Overview</h4>
                          </div>
                        </div>
                        <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                          <div class="me-3">
                            <div id="marketing-overview-legend"></div>
                          </div>
                        </div>
                        <div class="chartjs-bar-wrapper mt-3">
                          <canvas id="marketingOverview"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Pending Inquires</h4>
                          </div>
                        </div>
                        <div class="table-responsive  mt-1">
                          <table class="table select-table">
                            <thead>
                              <tr>
                                <th>Details</th>
                                <th>Department</th>
                                <th>Branch</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>

                              {% if inquires %}
                              {% for i in inquires %}
                                <tr>
                                  <td>
                                    <h6 class="text-truncate" style="width: 10rem;">{{ i[2] }}</h6>
                                  </td>
                                  <td>
                                    <h6>{{ i[11] }}</h6>
                                  </td>
                                  <td>
                                    <h6>{{ i[12] }}</h6>
                                  </td>
                                  <td>
                                    <div class="badge badge-opacity-warning">{{ i[9] }}</div>
                                  </td>
                                  <td>
                                    <a href="/view-inquiry-details?id={{ i[1] }}" class="btn btn-primary-outlined">VIEW</a>
                                  </td>
                                </tr>
                              {% endfor %}
                              {% endif %}

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

(function($) {
  'use strict';

  $(function() {

    var thisWeekLabels = [];
    var thisWeekData = [];
    var lastWeekData = []
    var monthlyLabels = []
    var monthlyData = []

      $.ajax({
        url: "/graph_data",
        enctype: 'multipart/form-data',
        data: {},
        contentType: false,
        cache: false,
        processData: false,
        type: 'GET',
      })
        .done(function (data) {

          if (data.weekly) {
            
            for (var i = 0; i < data.weekly.this_week.length; i++) {
                thisWeekLabels.push(data.weekly.this_week[i].day)
                thisWeekData.push(data.weekly.this_week[i].count)
            }

            for (var i = 0; i < data.weekly.last_week.length; i++) {
                lastWeekData.push(data.weekly.last_week[i].count)
            }

            if ($("#performaneLine").length) {
              var graphGradient = document.getElementById("performaneLine").getContext('2d');
              var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
              var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
              saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
              saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
              var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
              saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
              saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');
              var salesTopData = {
                  labels: thisWeekLabels,
                  datasets: [{
                      label: 'This week',
                      data: thisWeekData,
                      backgroundColor: saleGradientBg,
                      borderColor: [
                          '#1F3BB3',
                      ],
                      borderWidth: 1.5,
                      fill: true, // 3: no fill
                      pointBorderWidth: 1,
                      pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
                      pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
                      pointBackgroundColor: ['#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)'],
                      pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
                  },{
                    label: 'Last week',
                    data: lastWeekData,
                    backgroundColor: saleGradientBg2,
                    borderColor: [
                        '#52CDFF',
                    ],
                    borderWidth: 1.5,
                    fill: true, // 3: no fill
                    pointBorderWidth: 1,
                    pointRadius: [0, 0, 0, 4, 0],
                    pointHoverRadius: [0, 0, 0, 2, 0],
                    pointBackgroundColor: ['#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)'],
                      pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
                }]
              };
          
              var salesTopOptions = {
                responsive: true,
                maintainAspectRatio: false,
                  scales: {
                      yAxes: [{
                          gridLines: {
                              display: true,
                              drawBorder: false,
                              color:"#F0F0F0",
                              zeroLineColor: '#F0F0F0',
                          },
                          ticks: {
                            beginAtZero: false,
                            autoSkip: true,
                            maxTicksLimit: 4,
                            fontSize: 10,
                            color:"#6B778C"
                          }
                      }],
                      xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        ticks: {
                          beginAtZero: false,
                          autoSkip: true,
                          maxTicksLimit: 7,
                          fontSize: 10,
                          color:"#6B778C"
                        }
                    }],
                  },
                  legend:false,
                  legendCallback: function (chart) {
                    var text = [];
                    text.push('<div class="chartjs-legend"><ul>');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                      console.log(chart.data.datasets[i]); // see what's inside the obj.
                      text.push('<li>');
                      text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                      text.push(chart.data.datasets[i].label);
                      text.push('</li>');
                    }
                    text.push('</ul></div>');
                    return text.join("");
                  },
                  
                  elements: {
                      line: {
                          tension: 0.4,
                      }
                  },
                  tooltips: {
                      backgroundColor: 'rgba(31, 59, 179, 1)',
                  }
              }
              var salesTop = new Chart(graphGradient, {
                  type: 'line',
                  data: salesTopData,
                  options: salesTopOptions
              });
              document.getElementById('performance-line-legend').innerHTML = salesTop.generateLegend();
            }


          }


          if (data.monthly) {
            
            for (var i = 0; i < data.monthly.length; i++) {
              monthlyLabels.push(data.monthly[i].month)
              monthlyData.push(data.monthly[i].count)
            }

            if ($("#marketingOverview").length) {
              var marketingOverviewChart = document.getElementById("marketingOverview").getContext('2d');
              var marketingOverviewData = {
                  labels: monthlyLabels,
                  datasets: [{
                      label: 'Last 12 Months',
                      data: monthlyData,
                      backgroundColor: "#52CDFF",
                      borderColor: [
                          '#52CDFF',
                      ],
                      borderWidth: 0,
                      fill: true, // 3: no fill
                      
                  }]
              };
          
              var marketingOverviewOptions = {
                responsive: true,
                maintainAspectRatio: false,
                  scales: {
                      yAxes: [{
                          gridLines: {
                              display: true,
                              drawBorder: false,
                              color:"#F0F0F0",
                              zeroLineColor: '#F0F0F0',
                          },
                          ticks: {
                            beginAtZero: true,
                            autoSkip: true,
                            maxTicksLimit: 5,
                            fontSize: 10,
                            color:"#6B778C"
                          }
                      }],
                      xAxes: [{
                        stacked: true,
                        barPercentage: 0.35,
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        ticks: {
                          beginAtZero: false,
                          autoSkip: true,
                          maxTicksLimit: 12,
                          fontSize: 10,
                          color:"#6B778C"
                        }
                    }],
                  },
                  legend:false,
                  legendCallback: function (chart) {
                    var text = [];
                    text.push('<div class="chartjs-legend"><ul>');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                      console.log(chart.data.datasets[i]); // see what's inside the obj.
                      text.push('<li class="text-muted text-small">');
                      text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                      text.push(chart.data.datasets[i].label);
                      text.push('</li>');
                    }
                    text.push('</ul></div>');
                    return text.join("");
                  },
                  
                  elements: {
                      line: {
                          tension: 0.4,
                      }
                  },
                  tooltips: {
                      backgroundColor: 'rgba(31, 59, 179, 1)',
                  }
              }
              var marketingOverview = new Chart(marketingOverviewChart, {
                  type: 'bar',
                  data: marketingOverviewData,
                  options: marketingOverviewOptions
              });
              document.getElementById('marketing-overview-legend').innerHTML = marketingOverview.generateLegend();
            }


          }


        });
  
  });


})(jQuery);

</script>

{% endblock %}