{% extends 'base.html' %}
{% block title %}Emergency Services System | Admin | View Branch Details{% endblock %}
{% block content %}

{% if details %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Inquiry Details</h4>

          <form class="forms-sample" id="form_create">

            <div class="form-group">
              <label for="id">Inquiry Id</label>
              <input type="text" class="form-control" id="id" value="{{ details[0][1] }}"
                disabled>
            </div>

            <div class="form-group">
              <label for="inquiry">Inquiry Details</label>
              <textarea class="form-control" id="inquiry" rows="4" disabled>{{ details[0][2] }}</textarea>
            </div>

            <div class="form-group">
              <label for="location">Location</label>
              <textarea class="form-control" id="location" rows="4" disabled>{{ details[0][3] }}</textarea>
            </div>

            <div class="form-group">
              <label for="contact">Contact</label>
              <input type="text" class="form-control" id="contact" value="{{ details[0][4] }}" disabled>
            </div>

            <div class="form-group">
              <label for="">Location On Map</label>
              <button type="button" onclick="showMap('{{ details[0][7] }}', '{{ details[0][8] }}')" class="form-control btn btn-secondary">Location On Map</button>
            </div>
      
            <div class="form-group">
              <label for="date">Date</label>
              <input type="text" class="form-control" id="date" value="{{ details[0][10] }}" disabled>
            </div>

            <div class="form-group">
              <label for="branch">Branch</label>
              <input type="text" class="form-control" id="branch" value="{{ details[0][6] }}" disabled>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <input type="text" class="form-control" id="status" value="{{ details[0][9] }}" disabled>
            </div>

            <div class="form-group">
              <label for="">View Inquiry Added User</label>
              <a type="button" href="/users/view-users-details?id={{ details[0][5] }}" class="form-control btn btn-secondary">View User</a>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Images</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>

                {% if images %}
                {% for image in images %}
                <tr>
                  <td class="col">Inquiry Image {{ image[0] }}</td>
                  <td class="col"><a href="/static/images/inquiries/{{ image[2] }}/images/{{ image[3] }}" class="form-control btn btn-secondary" target="_blank">View</a></td>
                </tr>
                {% endfor %}
                {% endif %}

              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

{% if videos %}
<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Videos</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>

                
                {% for video in videos %}
                <tr>
                  <td class="col">Inquiry Video {{ image[0] }}</td>
                  <td class="col"><a href="{{ image[3] }}" class="form-control btn btn-secondary" target="_blank">View</a></td>
                </tr>
                {% endfor %}
                

              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
{% endif %}

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Actions</h4>


          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col">Department & Branch</th>
                  <th class="col">User</th>
                  <th class="col">Date</th>
                  <th class="col">Action</th>
                </tr>
              </thead>
              <tbody>

                {% if actions %}
                {% for item in actions %}
                <tr>
                  <td class="col">{{ item[4] }} - {{ item[5] }}</td>
                  <td class="col">{{ item[6] }}</td>
                  <td class="col">{{ item[7] }}</td>
                  <td class="col text-break">{{ item[3] }}</td>
                </tr>
                {% endfor %}
                {% else %}

                <tr>
                  <td colspan="4">
                    <center>No Actions</center>
                  </td>
                </tr>

                {% endif %}

              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Comments</h4>


          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>

                {% if comments %}
                {% for item in comments %}
                <tr>
                  <td class="col">{{ item[2] }}</td>
                </tr>
                {% endfor %}
                {% else %}

                <tr>
                  <td colspan="1">
                    <center>No Comments</center>
                  </td>
                </tr>

                {% endif %}

              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<script>

  function showMap(lat,lng){
    var url = "https://maps.google.com/?q=" + lat + "," + lng;
    window.open(url);
  }

</script>

{% endif %}

{% endblock %}