{% extends 'base.html' %}
{% block title %}Emergency Services System | Admin | View Admins{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View Admins</h4>


        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              {% if admins %}
              {% for item in admins %}
              <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <!-- <td>
                  <a href="/departments/view-department-details?id={{ item[0] }}" class="btn btn-secondary">VIEW</a>
                </td> -->
              </tr>
              {% endfor %}
              {% else %}

              <tr>
                <td colspan="7">
                  <center>No View Admins</center>
                </td>
              </tr>

              {% endif %}

            </tbody>
          </table>

        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}