{% extends '_branch/base.html' %}
{% block title %}Emergency Services System | Branch | Completed Inquires{% endblock %}
{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">

        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
            <div class="row">
              <div class="col-sm-12 d-flex flex-column">

                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Completed Inquires</h4>
                          </div>
                        </div>
                        <div class="table-responsive  mt-1">
                          <table class="table select-table">
                            <thead>
                              <tr>
                                <th>Details</th>
                                <th>Department</th>
                                <th>Branch</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>

                              {% if details %}
                              {% for i in details %}
                                <tr>
                                  <td>
                                    <h6 class="text-truncate" style="width: 10rem;">{{ i[2] }}</h6>
                                  </td>
                                  <td>
                                    <h6>{{ i[11] }}</h6>
                                  </td>
                                  <td>
                                    <h6>{{ i[12] }}</h6>
                                  </td>
                                  <td>
                                    <div class="badge badge-opacity-success">{{ i[9] }}</div>
                                  </td>
                                  <td>
                                    <a href="/branch/view-inquiry-details?id={{ i[1] }}" class="btn btn-primary-outlined">VIEW</a>
                                  </td>
                                </tr>
                              {% endfor %}
                              {% endif %}

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}