{% extends 'base.html' %}
{% block title %}Emergency Services System | Change Account Password{% endblock %}
{% block content %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Change Account Password</h4>

          <form class="forms-sample" id="form">

            <div class="form-group">
              <label for="psw">Password</label>
              <input type="password" class="form-control" id="psw" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="cpsw">Confirm Password</label>
              <input type="password" class="form-control" id="cpsw" placeholder="Confirm Password">
            </div>

            <button type="button" id="btn" class="btn btn-primary me-2">Update</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  $(function () {
    $('#btn').click(function () {

      var psw = $('#psw').val();
      var cpsw = $('#cpsw').val();

      if (psw == "" || cpsw == "") {
        swal.fire("Change Password", "Fields are empty!", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('psw', psw);
        form_data.append('cpsw', cpsw);

        $.ajax({
          url: "/change_psw",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Change Password", data.success, "success");
              document.getElementById("form").reset();
            }
            else if (data.error) {
              Swal.fire("Change Password", data.error, "warning");
            }
            else {
              Swal.fire("Change Password", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });

</script>

{% endblock %}