{% extends 'base.html' %}
{% block title %}Emergency Services System | View Account{% endblock %}
{% block content %}

{% if details %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="content-wrapper">
  <div class="row">

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">View Account</h4>

          <form class="forms-sample" id="form">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" value="{{ details[0][1] }}">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" value="{{ details[0][2] }}"
                disabled>
            </div>

            <button type="button" id="btn" class="btn btn-primary me-2">Update</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  $(function () {
    $('#btn').click(function () {

      var name = $('#name').val();

      if (name == "") {
        swal.fire("Update Account", "Fields are empty!", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('name', name);

        $.ajax({
          url: "/update_profile",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Update Account", data.success, "success");
            }
            else if (data.error) {
              Swal.fire("Update Account", data.error, "warning");
            }
            else {
              Swal.fire("Update Account", "Some error occur!", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });

</script>

{% endif %}

{% endblock %}